version: '3.5'

services:
  ci:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../:/work:cached
      - ~/gocache:/gocache
      - ~/gomodcache:/gomodcache
    working_dir: /work
    environment:
      - CI
      - BUILDKITE_JOB_ID
      - GOCACHE=/gocache
      - GOMODCACHE=/gomodcache
  release:
    build:
      context: .
      dockerfile: Dockerfile.release
