BUILDKITE_ORGANIZATION_SLUG=your-org
BUILDKITE_ANALYTICS_TOKEN=your-token
BUILDKITE_TEST_ENGINE_API_ACCESS_TOKEN=your-token
BUILDKITE_TEST_ENGINE_SUITE_SLUG=your-suite

BUILDKITE_PARALLEL_JOB=0
BUILDKITE_PARALLEL_JOB_COUNT=2

BUILDKITE_TEST_ENGINE_BASE_URL=http://api.buildkite.localhost
BUILDKITE_TEST_ENGINE_DEBUG_ENABLED=true
